/* screen - web-1920-1 */

.animate-enter {
  animation: animate-enter-frames 0.70s ease 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter1 {
  animation: animate-enter1-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter10 {
  animation: animate-enter10-frames 1.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter11 {
  animation: animate-enter11-frames 1.00s ease 1.10s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter12 {
  animation: animate-enter12-frames 1.00s ease 1.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter13 {
  animation: animate-enter13-frames 1.00s ease 1.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter14 {
  animation: animate-enter14-frames 1.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter15 {
  animation: animate-enter15-frames 2.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter16 {
  animation: animate-enter16-frames 1.00s ease 1.10s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter17 {
  animation: animate-enter17-frames 1.00s ease 1.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter18 {
  animation: animate-enter18-frames 1.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter19 {
  animation: animate-enter19-frames 1.00s ease 1.10s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter2 {
  animation: animate-enter2-frames 0.70s ease 0.10s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter20 {
  animation: animate-enter20-frames 1.00s ease 1.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter21 {
  animation: animate-enter21-frames 1.00s ease 1.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease 0.40s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease 0.50s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease 0.60s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter7 {
  animation: animate-enter7-frames 1.00s ease 0.60s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter8 {
  animation: animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter9 {
  animation: animate-enter9-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.overpass-black-blue-whale-50px {
  color: var(--blue-whale);
  font-family: 'Overpass', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
}
.overpass-black-quill-gray-90px {
  color: var(--quill-gray);
  font-family: 'Overpass', Helvetica;
  font-size: 90px;
  font-style: normal;
  font-weight: 900;
}
.overpass-black-white-30px {
  color: var(--white);
  font-family: 'Overpass', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}
.overpass-bold-cerulean-30px {
  color: var(--cerulean);
  font-family: 'Overpass', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.overpass-bold-gray-30px {
  color: var(--gray);
  font-family: 'Overpass', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.web-1920-1 {
  background-color: var(--white);
  height: 3780px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-1 .at-bandwidth-we-ringilla-tellus-C61RwL {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  display: block;
  font-family: 'Overpass', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 791px;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .athens-renderings-imagery-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 1776px;
  white-space: nowrap;
  width: auto;
opacity: 0;
}
.web-1920-1 .group-1-KOsP6k {
  background-color: var(--cerulean);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}
.web-1920-1 .group-1-KOsP6k:hover {

opacity: 0;
}
.web-1920-1 .group-2-PIEh7b {
  background-color: var(--cerulean);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}
.web-1920-1 .group-2-PIEh7b:hover {

opacity: 0;
}
.web-1920-1 .group-3-KOsP6k {
  background-color: rgba(8,64,98,1.0);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .group-4-C61RwL {
  background-color: transparent;
  display: block;
  height: 97px;
  left: 106px;
  position: absolute;
  top: 597px;
  width: 358px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .group-5-PIEh7b {
  background-color: rgba(8,64,98,1.0);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .group-6-C61RwL {
  background-color: transparent;
  display: block;
  height: 97px;
  left: 520px;
  position: absolute;
  top: 597px;
  width: 358px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .group-7-C61RwL {
  background-color: transparent;
  display: block;
  height: 114px;
  left: 122px;
  position: absolute;
  top: 820px;
  width: 241px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 960px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1475px;
  transition: all 0.2s ease;
  width: 819px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-C61RwL:hover {

filter: grayscale(100%);
}
.web-1920-1 .learn-more-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 2021px;
  transition: all 0.2s ease;
  width: 819px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-VMr6Om:hover {

filter: grayscale(100%);
}
.web-1920-1 .learn-more-mzXdH9 {
  background-color: transparent;
  display: block;
  height: auto;
  left: 971px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 2623px;
  transition: all 0.2s ease;
  width: 819px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-mzXdH9:hover {

filter: grayscale(100%);
}
.web-1920-1 .logo-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 476px;
  letter-spacing: 0.00px;
  line-height: 90px;
  opacity: 0.57;
  position: absolute;
  text-align: left;
  top: 832px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .logo-QxM5SU {
  background-color: transparent;
  display: block;
  height: auto;
  left: 1538px;
  letter-spacing: 0.00px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: 832px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .logo-SO40Oe {
  background-color: transparent;
  color: rgba(75,170,86,1.0);
  font-family: 'Overpass', Helvetica;
  font-size: 90px;
  font-style: normal;
  font-weight: 900;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.web-1920-1 .logo-Uh8Hn6 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 90px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 12px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 100%;
}
.web-1920-1 .logo-Uh8Hn6:hover {

opacity: 0;
}
.web-1920-1 .logo-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 830px;
  letter-spacing: 0.00px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: 832px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .logo-mzXdH9 {
  background-color: transparent;
  display: block;
  height: auto;
  left: 1184px;
  letter-spacing: 0.00px;
  line-height: 90px;
  opacity: 0.53;
  position: absolute;
  text-align: left;
  top: 832px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .lorem-ipsum-dol-ringilla-tellus-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 960px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1316px;
  width: 819px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .lorem-ipsum-dol-ringilla-tellus-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1862px;
  width: 819px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .lorem-ipsum-dol-ringilla-tellus-mzXdH9 {
  background-color: transparent;
  display: block;
  height: auto;
  left: 971px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2464px;
  width: 819px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .play-video-bc1X8j {
  background-color: transparent;
  bottom: calc(40.35% - 16px);
  height: 40px;
  letter-spacing: 4.50px;
  line-height: 30px;
  position: absolute;
  right: calc(49.30% - 106px);
  text-align: left;
  white-space: nowrap;
  width: 216px;
}
.web-1920-1 .play-video-vSXVhc {
  background-color: transparent;
  bottom: calc(40.35% - 16px);
  height: 40px;
  letter-spacing: 4.50px;
  line-height: 30px;
  position: absolute;
  right: calc(49.30% - 106px);
  text-align: left;
  white-space: nowrap;
  width: 216px;
}
.web-1920-1 .project-athens-C61RwL {
  background-color: transparent;
  color: var(--blue-whale);
  display: block;
  font-family: 'Overpass', Helvetica;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 80px;
  position: absolute;
  text-align: left;
  top: 115px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .project-overvie-completion-data-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 960px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1166px;
  white-space: nowrap;
  width: auto;
opacity: 0;
}
.web-1920-1 .project-overvie-completion-data-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 971px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 2314px;
  white-space: nowrap;
  width: auto;
opacity: 0;
}
.web-1920-1 .recent-updates-2jslx4 {
  background-color: transparent;
  bottom: calc(40.35% - 16px);
  height: 40px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 93px);
}
.web-1920-1 .recent-updates-gR8NH8 {
  background-color: transparent;
  bottom: calc(40.35% - 16px);
  height: 40px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 93px);
}
.web-1920-1 .rover-athens2-C61RwL {
  background-color: transparent;
  display: block;
  height: 583px;
  left: 949px;
  position: absolute;
  top: 121px;
  width: 908px;
opacity: 0;
}
.web-1920-1 .x2-a4-a8665-C61RwL {
  background-color: transparent;
  border-radius: 30px;
  display: block;
  height: 588px;
  left: 82px;
  position: absolute;
  top: 1054px;
  width: 837px;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .x2-a4-a8665-VMr6Om {
  background-color: transparent;
  border-radius: 30px;
  display: block;
  height: 588px;
  left: 990px;
  position: absolute;
  top: 1633px;
  width: 837px;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .x2-a4-a8665-mzXdH9 {
  background-color: transparent;
  border-radius: 30px;
  display: block;
  height: 588px;
  left: 93px;
  position: absolute;
  top: 2202px;
  width: 837px;
opacity: 0;transform: translate(-25px, 0);
}
:root {
  --blue-whale: rgba(8,48,75,1.0);
  --cerulean: rgba(7,156,238,1.0);
  --gray: rgba(126,126,126,1.0);
  --quill-gray: rgba(213,213,213,1.0);
  --white: rgba(255,255,255,1.0);
}
@keyframes animate-enter-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter1-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter10-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter11-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter12-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter13-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter14-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter15-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter16-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter17-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter18-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter19-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter2-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter20-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter21-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter3-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter4-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter5-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter6-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter7-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter8-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter9-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
