/* screen - web-1920-1 */

.animate-enter {
  animation: animate-enter-frames 0.70s ease 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter1 {
  animation: animate-enter1-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter10 {
  animation: animate-enter10-frames 1.00s ease 1.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter11 {
  animation: animate-enter11-frames 1.00s ease 1.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter12 {
  animation: animate-enter12-frames 2.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter13 {
  animation: animate-enter13-frames 1.00s ease 1.10s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter14 {
  animation: animate-enter14-frames 1.00s ease 1.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter15 {
  animation: animate-enter15-frames 1.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter16 {
  animation: animate-enter16-frames 1.00s ease 1.10s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter17 {
  animation: animate-enter17-frames 1.00s ease 1.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter18 {
  animation: animate-enter18-frames 1.00s ease 1.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter19 {
  animation: animate-enter19-frames 1.00s ease 0.60s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter2 {
  animation: animate-enter2-frames 0.70s ease 0.10s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter20 {
  animation: animate-enter20-frames 1.00s ease 0.60s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter21 {
  animation: animate-enter21-frames 1.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease 0.40s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease 0.50s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter7 {
  animation: animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter8 {
  animation: animate-enter8-frames 1.00s ease 1.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.animate-enter9 {
  animation: animate-enter9-frames 1.00s ease 1.10s 1 normal forwards;
  display: block;
opacity: 0;
}
.overpass-black-blue-whale-23px {
  color: var(--blue-whale);
  font-family: 'Overpass', Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
}
.overpass-black-quill-gray-42px {
  color: var(--quill-gray);
  font-family: 'Overpass', Helvetica;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
}
.overpass-black-white-14px {
  color: var(--white);
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
}
.overpass-bold-cerulean-20px {
  color: var(--cerulean);
  font-family: 'Overpass', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.overpass-bold-gray-20px {
  color: var(--gray);
  font-family: 'Overpass', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.web-1920-1 {
  background-color: var(--white);
  height: 3780px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1000px;
}
.web-1920-1 .at-bandwidth-we-ringilla-tellus-C61RwL {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  display: block;
  font-family: 'Overpass', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 168px;
  width: 376px;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .athens-renderings-imagery-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 856px;
  white-space: nowrap;
  width: auto;
opacity: 0;
}
.web-1920-1 .group-1-KOsP6k {
  background-color: var(--cerulean);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}
.web-1920-1 .group-1-KOsP6k:hover {

opacity: 0;
}
.web-1920-1 .group-2-PIEh7b {
  background-color: var(--cerulean);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}
.web-1920-1 .group-2-PIEh7b:hover {

opacity: 0;
}
.web-1920-1 .group-3-KOsP6k {
  background-color: rgba(8,64,98,1.0);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .group-4-C61RwL {
  background-color: transparent;
  display: block;
  height: 46px;
  left: 106px;
  position: absolute;
  top: 338px;
  width: 170px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .group-5-PIEh7b {
  background-color: rgba(8,64,98,1.0);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .group-6-C61RwL {
  background-color: transparent;
  display: block;
  height: 46px;
  left: 302px;
  position: absolute;
  top: 338px;
  width: 170px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .group-7-C61RwL {
  background-color: transparent;
  display: block;
  height: 53px;
  left: 114px;
  position: absolute;
  top: 444px;
  width: 114px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 511px;
  letter-spacing: 0.00px;
  line-height: 20px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 757px;
  transition: all 0.2s ease;
  width: 389px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-C61RwL:hover {

filter: grayscale(100%);
}
.web-1920-1 .learn-more-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 20px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1030px;
  transition: all 0.2s ease;
  width: 389px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-VMr6Om:hover {

filter: grayscale(100%);
}
.web-1920-1 .learn-more-mzXdH9 {
  background-color: transparent;
  display: block;
  height: auto;
  left: 516px;
  letter-spacing: 0.00px;
  line-height: 20px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1357px;
  transition: all 0.2s ease;
  width: 389px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .learn-more-mzXdH9:hover {

filter: grayscale(100%);
}
.web-1920-1 .logo-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 281px;
  letter-spacing: 0.00px;
  line-height: 42px;
  opacity: 0.57;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .logo-QxM5SU {
  background-color: transparent;
  display: block;
  height: auto;
  left: 617px;
  letter-spacing: 0.00px;
  line-height: 42px;
  opacity: 0.53;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .logo-SO40Oe {
  background-color: transparent;
  color: rgba(75,170,86,1.0);
  font-family: 'Overpass', Helvetica;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.web-1920-1 .logo-Uh8Hn6 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 42px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 6px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 100%;
}
.web-1920-1 .logo-Uh8Hn6:hover {

opacity: 0;
}
.web-1920-1 .logo-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 449px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .logo-mzXdH9 {
  background-color: transparent;
  display: block;
  height: auto;
  left: 785px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .lorem-ipsum-dol-ringilla-tellus-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 511px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 624px;
  width: 389px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .lorem-ipsum-dol-ringilla-tellus-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 897px;
  width: 389px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .lorem-ipsum-dol-ringilla-tellus-mzXdH9 {
  background-color: transparent;
  display: block;
  height: auto;
  left: 516px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1223px;
  width: 389px;
opacity: 0;transform: translate(0, 25px);
}
.web-1920-1 .play-video-bc1X8j {
  background-color: transparent;
  bottom: calc(38.46% - 8px);
  height: 20px;
  left: calc(50.00% - 51px);
  letter-spacing: 2.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 102px;
}
.web-1920-1 .play-video-vSXVhc {
  background-color: transparent;
  bottom: calc(38.46% - 8px);
  height: 20px;
  left: calc(50.00% - 51px);
  letter-spacing: 2.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 102px;
}
.web-1920-1 .project-athens-C61RwL {
  background-color: transparent;
  color: var(--blue-whale);
  display: block;
  font-family: 'Overpass', Helvetica;
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 37px;
  position: absolute;
  text-align: left;
  top: 109px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .project-overvie-completion-data-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 511px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 553px;
  white-space: nowrap;
  width: auto;
opacity: 0;
}
.web-1920-1 .project-overvie-completion-data-VMr6Om {
  background-color: transparent;
  display: block;
  height: auto;
  left: 516px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1152px;
  white-space: nowrap;
  width: auto;
opacity: 0;
}
.web-1920-1 .recent-updates-2jslx4 {
  background-color: transparent;
  bottom: calc(38.46% - 8px);
  height: 20px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 45px);
}
.web-1920-1 .recent-updates-gR8NH8 {
  background-color: transparent;
  bottom: calc(38.46% - 8px);
  height: 20px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 45px);
}
.web-1920-1 .rover-athens2-C61RwL {
  background-color: transparent;
  display: block;
  height: 277px;
  left: 506px;
  position: absolute;
  top: 112px;
  width: 430px;
opacity: 0;
}
.web-1920-1 .x2-a4-a8665-C61RwL {
  background-color: transparent;
  border-radius: 30px;
  display: block;
  height: 326px;
  left: 66px;
  position: absolute;
  top: 522px;
  width: 444px;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .x2-a4-a8665-VMr6Om {
  background-color: transparent;
  border-radius: 30px;
  display: block;
  height: 326px;
  left: 74px;
  position: absolute;
  top: 1124px;
  width: 444px;
opacity: 0;transform: translate(-25px, 0);
}
.web-1920-1 .x2-a4-a8665-mzXdH9 {
  background-color: transparent;
  border-radius: 30px;
  display: block;
  height: 326px;
  left: 504px;
  position: absolute;
  top: 811px;
  width: 444px;
opacity: 0;transform: translate(-25px, 0);
}
:root {
  --blue-whale: rgba(8,48,75,1.0);
  --cerulean: rgba(7,156,238,1.0);
  --gray: rgba(126,126,126,1.0);
  --quill-gray: rgba(213,213,213,1.0);
  --white: rgba(255,255,255,1.0);
}
@keyframes animate-enter-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter1-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter10-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter11-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter12-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter13-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter14-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter15-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter16-frames {

from{opacity: 0;}
to{opacity: 1;}
}
@keyframes animate-enter17-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter18-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter19-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter2-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter20-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter21-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter3-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter4-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter5-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter6-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter7-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter8-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter9-frames {

from{opacity: 0;}
to{opacity: 1;}
}
